name: Build

on:
  push:
    branches:
      - main


jobs:
  build:
    name: Cloud Run Deployment
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@master


      - name: Auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
          service_account: ${{ secrets.GCP_SA_EMAIL }}
          
      - name: Setup GCP Service Account
        uses: google-github-actions/setup-gcloud@v2
        with:
          version: 'latest'
          service_account_email: ${{ secrets.GCP_SA_EMAIL }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
          
      - name: Configure Docker
        run: |
          gcloud auth configure-docker
      
      - name: Deploy
        run: |
          gcloud run deploy helloworld \
          --region europe-west1 \
          --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/image \
          --platform managed \
          --allow-unauthenticated \
          --project ${{ secrets.GCP_PROJECT_ID }}
