name: SonarScan
on:
  workflow_run:
    workflows: ["Build"]
    types: [completed]
    branches:
      - main
jobs:
  sonar:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: sonarsource/sonarqube-scan-action@master          
        env:
           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
           SONAR_HOST_URL:  ${{ secrets.SONAR_HOST_URL }}
