name: Build

on:
  push:
    branches:
      - main
jobs:
  build:
    name: Cloud Run Deployment
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
          service_account: ${{ secrets.GCP_SA_EMAIL }}

      - name: Configure Docker
        run: |
          gcloud auth configure-docker
          
      #- name: Build and Push Container
      #  run: |-
      #     docker build -t "gcr.io/${{ secrets.GCP_PROJECT_ID }}/image" .
      #     docker push "gcr.io/${{ secrets.GCP_PROJECT_ID }}/image"
      
      - name: Deploy
        uses: 'google-github-actions/ssh-compute@v1'
        with:
          instance_name: 'instance-backend-prd'
          zone: 'us-east1-b'
          project_id: 'os-backend-419705'
          ssh_private_key: '${{ secrets.GCP_SSH_PRIVATE_KEY }}'
          command: docker run nginx
